services:
  database:
    container_name: rocket_database_template
    image: postgres:17.5-bookworm
    env_file:
      - .env
    healthcheck:
      test: pg_isready -h localhost -U $$POSTGRES_USER
      interval: 5s
      timeout: 10s
      retries: 5
    ports:
      - '5432:5432'
    volumes:
      - pg-database:/var/lib/postgresql/data:rw
volumes:
  pg-database: