services:
  database:
    container_name: rocket_database_template
    image: mysql:8.0-bookworm
    env_file: .env
    ports:
      - 3306:3306
    volumes:
      - mysql-db:/var/lib/mysql
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost" ]
      timeout: 10s
      retries: 10
volumes:
  mysql-db: