<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block extra_head %}{% endblock extra_head %}
    <title>{% block title %}{% endblock title %}</title>
</head>

<body>
    <main style="display:flex;align-items:center;justify-content:center;height:100vh;">
        {% block page_content %}{% endblock page_content %}
    </main>
    <footer>
        {% block footer %}{% endblock footer %}
    </footer>
</body>

</html>